

<div class="p-t-40"></div>
<div class="row row-centered">
  <div class="col-sm-10 col-centered">
    <div class="grid simple">
      <div class="grid-title no-border">
        Email Verified
      </div>
      <div class="grid-body no-border" style="overflow: hidden; display: block;">
        <p>
          Your email has been verified successfully, redirecting you to &nbsp;&nbsp;<a href="/login" role="tab" data-toggle="tab">Login page</a>

        </p>
    </div>
      </div>
  </div>
</div>


<script>
  setTimeout(function () {
    window.location.href = '/login';
  }, 5000)
</script>
