<div class="col-lg-12">
  <div class="row {{redirect_url ? '' : 'panel'}} panel-default form-horizontal overlaycontainer "
       ng-controller="PasswordController">

    <form name="passwordForm" autocomplete="off">
      <div class="p-t-20" ng-if="!redirect_url"></div>

      <% var labelwidth = "col-sm-4"; %>

      <!-- C U R R P A S S W O R D -->

      <div class="control-group form-group col-md-12" ng-class="{'has-error':passwordForm.currPassword.$invalid &&
                        passwordForm.currPassword.$dirty}" ng-if="user.password && changePasswordMode">
        <label class="<%= labelwidth %> formlabel" for="password">Current password</label>
        <!-- Added the compareTo directive that compares the passowrds -->
        <div class="col-sm-4">
          <input type="password" style="display:none">
          <input type="password" class="form-control" placeholder="Password" name="currPassword"
                 ng-model="passwordForm.currPassword" id="currPassword" required>
                          <span class="help-block has-error" ng-if="passwordForm.currPassword.$dirty">
                            <span ng-show="passwordForm.currPassword.$error.required">Password is required.</span>
                          </span>
        </div>
      </div>

      <!-- P A S S W O R D -->

      <div class="control-group form-group col-md-12"
           ng-class="{'has-error':passwordForm.password.$invalid &&
                      passwordForm.password.$dirty}" ng-if="changePasswordMode">
        <label class="<%= labelwidth %> formlabel" for="password">New password</label>
        <!-- Added the compareTo directive that compares the passowrds -->
        <div class="col-sm-4">
          <input type="password" class="form-control" placeholder="at least 6 characters" name="password"
                 ng-model="passwordForm.password" id="password" required ng-minlength="6"
                 compare-to="passwordForm.confirmation">
                          <span class="help-block has-error" ng-if="passwordForm.password.$dirty">
                            <span ng-show="passwordForm.password.$error.required">Password is required.</span>
                            <span ng-show="passwordForm.password.$error.minlength">Password must be at least 6 characters.</span>
                          </span>
        </div>
      </div>

      <!-- C O N F I R M  P A S S W O R D -->

      <div class="control-group form-group col-md-12" ng-if="changePasswordMode">
        <label class="<%= labelwidth %> formlabel" for="confirmation">Re-enter password</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" placeholder="one more time" name="confirmation"
                 ng-model="passwordForm.confirmation" required>
                          <span class="help-block has-error" ng-if="passwordForm.confirmation.$dirty">
                            <span class="text-error" ng-show="passwordForm.password.$error.compareTo">Password must match.</span>
                            <span class="text-error" ng-show="passwordForm.confirmation.$error.required">Confirmation password is required.</span>
                          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
          <p ng-if="!changePasswordMode">Your password is set. Click to change to change your password</p>
          <hr>
        </div>
      </div>

      <div class=" form-group">
        <div class="col-sm-7 col-sm-offset-2">
          <span ng-show="loginfailed" class="text-error">Invalid current password.</span>

        </div>
        <div class="col-sm-2">
          <Button promise-btn class="btn btn-small btn-success btn-block" ng-if="changePasswordMode"
                  ng-click="savePassword(passwordForm)" ng-disabled="passwordForm.$invalid">Save
          </Button>
          <Button class="btn btn-small btn-success btn-block" ng-if="!changePasswordMode"
                  ng-click="changeToPasswordMode()" ng-disabled="passwordForm.$invalid">Change
          </Button>
        </div>
      </div>


    </form>
  </div>
</div>
