<select class="col-sm-6 formselect" ng-options="country.alpha2 as country.name for country in countries" get-countries ng-model="<%= ngmodel %>" required>
<option value="">Select Country</option>
</select>